body {

    background-color: tomato;
    text-align: center;
    padding-top: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


nav ul li { 
    display: inline;
}
 
ul {
    text-align: center;list-style: none; display: block;
    
}

img {
    height: auto; width: 500px;
}

footer { 
    padding-top: 10em;

}
/* make container div purple */
.purple{ 
    background-color: #6E4555;
    color: white;
    -webkit-text-stroke:black 0.3px;

}