/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======end of css reset====== */

html {
    margin-left: 16vw;
    margin-right: 16vw;
    background-color:#aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}
h1 { 
    position: absolute;
    padding-left: 4.9em;
    padding-top: 3em;
    font-size: 4.3vw;
    color: white;
}


header img { 
    width: 100%;
    position: relative;
    padding-bottom: 1em;
}

img { 
    width: 25%; 
    float: left; 
    padding-right: 1em;
}
p { 
    font-size: 1.4em; 
    line-height: 30px; 
}


/* ====Nav section==== */
nav ul li { 
    display: inline;
    font-size: 2em;
   
    
}
nav ul li a{ 
    padding-left: 4em;
    padding-right: 4em;
    text-decoration: none;
    color: inherit; 
    padding-top: 4em;
}
nav { 
    text-align: center;
    background-color:#def5f1;
   
}

nav li:not(:last-child){ 
    border-right: black solid 1px;
}
/* =====End of Nav section===== */


/* =====Start of article section===== */
article ul { 
    text-align: left;
    font-size: 1.4em;
    list-style: disc;
    padding-left: 1em; 

}

article ul li { 
    line-height: 1em;
    padding-top: 0.5em;
}
article { 
    background-color: #def5f1 ;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
}

/* ====End of article section==== */


form h2 {
    font-size: 1.3em;
    padding: 1em; 
    padding-left: 0em;
}
footer { 
    text-align: right;
    font-size: 0.7em;
    font-weight: 400;
}

/* ========input tags======== */
input[type=text], select{     
    width: 100%;  
    padding: 12px 20px;   
    margin: 8px 0;   
    display: inline-block;  
    border: 1px solid #ccc;   
    border-radius: 4px;   
    box-sizing: border-box; 
}
/* -----Changes size of Message box----- */
form input[type=text]:nth-child(6) {
    padding-bottom: 4em;
}

.submit input[type=submit]{
    font-size: 0.75rem;
    padding: 10px;
    background-color: #def5f1;
    border: solid 1px black;
  }
/* ======End of input tags====== */


/* ======Class tags====== */
.form { 
    font-size: 1.2em;
    border: solid black 1px;
    border-radius: 6px;
    padding: 20px 20px; 
    width: 100%;
    margin: 9px 0;
    display: inline-block;
    box-sizing: border-box;

}

.mainheading { 
    text-align: left;
    font-size: 2em; 
    padding: 1em;
    padding-left: 0em;
    padding-bottom: 0.2em;
    
}

.facts { 
    text-align: left;
    font-size: 2em; 
    padding: 1em;
    padding-left: 0em;
    padding-bottom: 0em;
    
}

.contact { 
    text-align: left;
    font-size: 2em; 
    padding: 1em;
    padding-left: 0em;
    padding-bottom: 0em;
    
}

.submit {
    clear: left;
    padding-top: 2em;
    
}
/* =======End of Class tags====== */
