/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */

html {
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #222;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 16px;
}

nav ul{
    margin: 0px;
    padding-left: 0px;
}

nav a{
   padding-top: 20px;
   text-decoration: none;
   color: #c78c06;  
}

nav ul li {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

nav .active{
    background-color: #c78c06;
}


form { 
    text-align: center;
    
    
}

nav form input{
    height: 25px;
    width: 600px;
}

form i { 
    border: solid 1px #c78c06;
    padding: 2px;

    
    
}

.active a { 
    color: #222;
}

.logo { 
   background-color: #c78c06;
   
}

.Welcome { 
    color: white;
    background-image:url(../images/main-banner.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bodycontent { 
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: rgba(0, 0, 0, 0.555);
    padding-left: 15px;
    padding-right: 15px;

}

.bodycontent h1 { 
    font-size: 50px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 75px;
    
}

.bodycontent p { 
    font-size:15px ;
    padding-bottom: 15px;
    margin-bottom: 20px;
    line-height: 20px;

}

.bodycontent .button { 
    font-weight:500;
    text-decoration: none;
    background-color: #c78c06;
    padding: 20px;
    color:#222;  

     

}

.bodycontent i { 
    font-size: 25px;
    padding-left:5px;

}
    
.about-us {
    background-color:#ffe6ac ;
    background-size: ;
    padding: 10px;
    margin: auto;
}

.about-us h1{
    padding-top: 20px;
    font-size: 35px;
    padding-bottom: 20px;
    font-weight: 600;
}

.about-us p {
    line-height: 20px;
    padding-bottom: 10px;
}

.about-us img{
    width: 100%; 
}

 /* Service */

 .ourservices h1{ 
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 20px;

}


.services {
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding-bottom: 40px;
    
    
}

.services img{
    width: 100%;
}

.services h2{
    font-size:30px;
    font-weight: 600;
    background-color: #ffe6ac;
    padding-top:20px;
    padding-left:15px;
}

.services p{ 
    background-color: #ffe6ac;
    padding:15px;
    line-height: 20px;
    margin-bottom: 25px;
    padding-bottom: 30px;
}

.services .button{
    font-size: 20px;
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 25px;
    margin-left: 10px;
}

.vision{
    color: white;
    background-image: url(../images/vision.jpg);
    background-size:cover;
    padding-bottom: 45px;
}
.vision h1 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 20px;
}

.vision p{
    padding: 20px;
    line-height: 25px;
    margin-bottom: 30px;
}

.vision .button{
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#222;
    border: solid 1px #c78c06;
    margin-left:15px;
    color: white;
    text-decoration: none;
}

.vision i {
    padding-left: 15px;
    font-size: 30px;
}


.teamtitle {
    font-size: 40px;
    font-weight: 600;
}

.team img{
    width: 100%;
}

.team h2 {
    font-size: 30px;
    font-weight: 600;
}

.team h3{
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
    border-bottom: solid 2px #c78c06;
}

.team p{
    font-size: 15px;
    line-height: 20px;
    padding-top: 15px;
}

.team .content {
    padding: 15px;
    background-color: #ffe6ac;
    margin-bottom: 15px;
}


.contact h1{ 
    padding:10px;
    font-size: 40px;
    font-weight: 600;
}

.contact h2 {
    padding:10px;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 600;
}

.contact form input{
    width: 100%; 
    height:20px
   
}

.contact form textarea{
    width: 100%;
    height: 200px;
}

.contact form {
    text-align: left;
    padding: 10px;
}

.contact form label { 
    display: block;
    padding-bottom: 5px;
}

.contact form input[type=button]{ 
    width:auto;
    height: 100%;
    background-color: #222;
    color: #c78c06;
    font-size: 20px;
    display: block;
    padding: 5px;
    border: solid 1px #c78c06;
} 

.hours-container{ 
    padding:15px
}
.hours-container h2 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 15px;
 
    
}

.hours-table{ 
    width: 100%;
    border: 1px solid black;
    padding-left: 20px;
}
.hours-container th { 
    background-color: #ffe6ac;
    border: 1px solid black;
    height: 20px;
    padding:15px
}


.hours-container td {
    border: 1px solid black;
    padding: 15px; 

}

.location { 
    padding:15px
}

.location h1{
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
}

footer { 
    background-color: #222;
    color: #c78c06;
    padding: 20px;
    line-height: 30px;
}







/*  Media Queuery  */




@media screen and (min-width:760px){
    
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    
    header{
        color: #222;
        padding-bottom:100px;
        padding-left:50px;
        padding-top:30px;
    }
    
    nav { 
        padding-top: 35px;
        padding: 15px;
        padding-left: 45px;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav ul li {
        margin-left: 50px;
        float: left;
        margin-top: 30px;
        font-size: 30px;
        padding-left: 45px;
    }

    nav .active {
        background-color: #c78c06;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        
    }
    nav form input { 
        text-align: left;
        width: 200px;
        height: 30px;
        font-size: 25px;
    }
    
    nav form { 
        padding-top: 45px;
        padding-right: 200px;
    }
    
    nav form button { 
        position: absolute;
        float: right;
    }

    nav form i { 
        font-size: 30px;
    }

    .logo{
        padding-top: 30px;
        background-color: #222;
        float: left;
        padding-right: 45px;
        padding-left: 65px;
    }

    .logo img { 
        width:auto;
        height: 125px;
    }
    
    .Welcome { 
        color: white;
        background-image:url(../images/main-banner.jpg);
        background-size: cover;
        padding-top: 25px;
        padding-bottom: 100px;
        padding-left: 75px;
        padding-right: 75px;
    }

    .bodycontent { 
        padding-top: 1px;
        padding-bottom: 75px;
        background-color: rgba(0, 0, 0, 0.555);
        padding-left: 15px;
        padding-right: 15px;
    
    }
    
    .bodycontent h1 { 
        font-size: 150px;
        font-weight: 600;
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 200px;
        
    }

    .bodycontent p { 
        font-size:30px ;
        margin-bottom: 150px;
        padding-bottom: 20px;
        line-height: 50px;
    
    }

    .bodycontent .button { 
        font-weight:500;
        font-size: 25px;
        text-decoration: none;
        background-color: #c78c06;
        padding: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
        color:#222;  
        
    
    }

    .bodycontent i { 
        font-size: 35px;
        padding-left:5px;
    
    }

    .about-us {
        background-color:#ffe6ac ;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 120px;
        padding-top: 25px;
    }

    .about-us img{
        float: left;
        height: auto;
        width: 50%; 
    }


    .about-us h1{
        padding-top: 1px;
        font-size: 50px;
        padding-bottom: 1px;
        font-weight: 600;
        padding-left: 910px;
    }

    .about-us p {
        padding-top: 20px;
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 10px;
        padding-left:910px ;
        padding-right: 250px;
    }

    
    .ourservices h1{ 
        font-size: 50px;
        font-weight: 600;
        padding-bottom: 30px;
        padding-top: 60px;
        padding-left: 150px;
    
    }


    .services-container {  
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 10px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 10px;

        grid-template-areas: 
        "Digital Digital Digital Marketing Marketing Marketing" 
        "Video Video Web Web Print Print";
    }
    .services:nth-child(1) { 
        grid-area: Digital;
        margin-bottom: auto;
        padding-bottom: 10px;
    }

    .services:nth-child(2) { 
        grid-area: Marketing;
        margin-bottom: auto;
        padding-bottom: 10px;
    }

    .services:nth-child(2) p{
        padding-bottom: 50px;    
    }

    .services:nth-child(3) { 
        grid-area: Video;
        margin-bottom: auto;
        padding-bottom: 10px;
    }

    .services:nth-child(4) { 
        grid-area: Web;
        margin-bottom: auto;
        padding-bottom: 10px;
    }

    .services:nth-child(5) { 
        grid-area: Print;
        margin-bottom: auto;
        padding-bottom: 10px;
    }

    .services .button { 
        display: block;
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;

    }

    .marginfix { 
        padding-left: 10px;
        padding-right: 10px;
    }


    .vision { 
        background-position:center;
        padding-left: 100px;
        padding-right: 100px;
    
    }

    .vision h1 { 
        padding-top:50px;
    }

    .vision p { 
        font-size: 25px;
    }
    .teamtitle { 
        font-size: 50px;
        font-weight: 600;
        padding-top: 50px;
        padding-left: 110px;
        padding-bottom: 15px;
    }

    .team { 
        display:grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        margin-left: 110px;
        margin-right: 110px;
        margin-bottom: 110px;

        grid-template-areas: 
        
        "John Johncontent"
        "bobcontent Bob"
        ;
    }

    .john { 
        grid-area: John;
    }

    .bob { 
        grid-area: Bob; 
    }

    .team .content:nth-child(2) { 
        grid-area: Johncontent;
    }

    .team .content:nth-child(1){ 
        grid-area:bobcontent;
    
    }

    .content h2 { 
        font-size: 40px;
    }
    .content p { 
        font-size: 25px;
        line-height: 30px;
    }
    
    .content h3 { 
        font-size: 25px;
    }

    .team .content { 
        margin:0;
    }

    

    






}




